<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Category</th>
      <th scope="col">Language</th>
      <th scope="col">Keywords</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookmark of bookmarks">
      <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.bookmarkName }}</a></td>
      <td>{{ bookmark.url }}</td>
      <td>{{ bookmark.categoryID }}</td>
      <td>{{ bookmark.languageID }}</td>
      <td>{{ bookmark.keywords }}</td>
      <td>{{ bookmark.bookmarkDateAdded }}</td>
      <td><button class="btn btn-primary" (click)="editBookmark(bookmark.bookmarkID)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteBookmark(bookmark.bookmarkID)">Delete</button></td>
    </tr>
  </tbody>
</table>
