<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
  <h2>Add Bookmark</h2>
  <form #bookmarkForm="ngForm" (ngSubmit)="onSubmit(bookmarkForm)">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" class="form-control" name="name" required [(ngModel)]="bookmark.bookmarkName">
    </div>

    <div class="mb-3">
      <label for="url" class="form-label">URL:</label>
      <input type="text" id="url" class="form-control" name="url" required [(ngModel)]="bookmark.url">
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Category:</label>
      <select id="category" class="form-select" name="category" required [(ngModel)]="bookmark.categoryID">
        <option value="" disabled selected>Select Category</option>
        <option value="category1">Frontend</option>
        <option value="category2">Backend</option>
        <option value="category3">Full stack</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="language" class="form-label">Language:</label>
      <select id="language" class="form-select" name="language" required [(ngModel)]="bookmark.languageID">
        <option value="" disabled selected>Select Language</option>
        <option value="language1">C#</option>
        <option value="language2">Java</option>
        <option value="language3">Angular</option>
        <option value="language4">ASP.NET</option>
        <option value="language5">React</option>
        <option value="language6">Python</option>
        <option value="language7">HTML</option>
        <option value="language8">CSS</option>
        <option value="language9">Javascript</option>
        <option value="language10">SQL</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="keywords" class="form-label">Keywords (separated by comma):</label>
      <input type="text" id="keywords" class="form-control" name="keywords" required [(ngModel)]="bookmark.keywords">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
